:root {
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --secondary-text-color: rgba(255, 255, 255, 0.60);
    --contrast-text-color: #FFFFFF;
    --logo-text-color: #000000;
    --title-color: #212121;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
}